<phpunit bootstrap="vendor/autoload.php">
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <file>src/endrilala/autoload.php</file>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Cart test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
